rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/rembg_jobs/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/poster_profile/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
